//Primary colors
$blue: #00A9E0;
$red: #F9423A;
$green: #20B573;
$navy: #002855;
$yellow: #fada30;
$mint: #7ae1bf;
$pink: #f04e98;
$orange: #ff671f;
$purple: #963cbd;
$not-gray: #5b7f95;
$gray: #626263;
$black: #303031;
$white: #ffffff;

//Blue shades
$blue-l1: #4DC2E9;
$blue-l2: #99DCF2;
$blue-l3: #CCEDF8;
$blue-d1: #00759C;
$blue-d2: #00546F;
$blue-d3: #003242;

//Red shades
$red-l1: #FA7B75;
$red-l2: #FCB3B0;
$red-l3: #FDD9D7;
$red-d1: #AD2E28;
$red-d2: #7C201C;
$red-d3: #4A1311;

//Green shades
$green-l1: #63CB9D;
$green-l2: #A5E1C7;
$green-l3: #D2F0E3;
$green-d1: #167E50;
$green-d2: #0F5A39;
$green-d3: #093522;

//Navy shades
$navy-l1: #4D6888;
$navy-l2: #99A9BB;
$navy-l3: #CCD4DD;
$navy-d1: #001B3B;
$navy-d2: #00132A;
$navy-d3: #000B19;

//Yellow shades
$yellow-l1: #FBE576;
$yellow-l2: #FDF0B1;
$yellow-l3: #FEF7D8;
$yellow-d1: #AE9829;
$yellow-d2: #7C6C1D;
$yellow-d3: #4A4011;

//Mint shades
$mint-l1: #A2EAD2;
$mint-l2: #C9F3E5;
$mint-l3: #E4F9F2;
$mint-d1: #559D85;
$mint-d2: #3C705F;
$mint-d3: #244338;

//Pink shades
$pink-l1: #F04E98;
$pink-l2: #F9B8D5;
$pink-l3: #FCDBEA;
$pink-d1: #A7366A;
$pink-d2: #77264B;
$pink-d3: #47172D;

//Orange shades
$orange-l1: #FF9462;
$orange-l2: #FFC2A5;
$orange-l3: #FFE0D2;
$orange-d1: #B24715;
$orange-d2: #7F330F;
$orange-d3: #4C1E09;

//Purple shades
$purple-l1: #B576D0;
$purple-l2: #D5B1E4;
$purple-l3: #EAD8F1;
$purple-d1: #682983;
$purple-d2: #4A1D5E;
$purple-d3: #2C1138;

//Not-gray shades
$not-gray-l1: #8CA5B5;
$not-gray-l2: #BDCBD4;
$not-gray-l3: #DEE5E9;
$not-gray-d1: #3F5868;
$not-gray-d2: #2D3F4A;
$not-gray-d3: #1B252C;

//Gray shades
$gray-l1: #919192;
$gray-l2: #C0C0C0;
$gray-l3: #DFDFDF;
$gray-d1: #444445;
$gray-d2: #303031;
$gray-d3: #1D1D1D;

//Black shades
$black-l1: #6e6e6f;
$black-l2: #acacac;
$black-l3: #d5d5d5;


//White shades
$white-d1: #B2B2B2;
$white-d2: #7F7F7F;
$white-d3: #4C4C4C;


//List of all colors
$colors: (
blue: #00A9E0,
red: #F9423A,
green: #20B573,
navy: #002855,
yellow: #fada30,
mint: #7ae1bf,
pink: #f04e98,
orange: #ff671f,
purple: #963cbd,
not-gray: #5b7f95,
gray: #626263,
black: #303031,
white: #ffffff,
blue-l1: #4DC2E9,
blue-l2: #99DCF2,
blue-l3: #CCEDF8,
blue-d1: #00759C,
blue-d2: #00546F,
blue-d3: #003242,
red-l1: #FA7B75,
red-l2: #FCB3B0,
red-l3: #FDD9D7,
red-d1: #AD2E28,
red-d2: #7C201C,
red-d3: #4A1311,
green-l1: #63CB9D,
green-l2: #A5E1C7,
green-l3: #D2F0E3,
green-d1: #167E50,
green-d2: #0F5A39,
green-d3: #093522,
navy-l1: #4D6888,
navy-l2: #99A9BB,
navy-l3: #CCD4DD,
navy-d1: #001B3B,
navy-d2: #00132A,
navy-d3: #000B19,
yellow-l1: #FBE576,
yellow-l2: #FDF0B1,
yellow-l3: #FEF7D8,
yellow-d1: #AE9829,
yellow-d2: #7C6C1D,
yellow-d3: #4A4011,
mint-l1: #A2EAD2,
mint-l2: #C9F3E5,
mint-l3: #E4F9F2,
mint-d1: #559D85,
mint-d2: #3C705F,
mint-d3: #244338,
pink-l1: #F04E98,
pink-l2: #F9B8D5,
pink-l3: #FCDBEA,
pink-d1: #A7366A,
pink-d2: #77264B,
pink-d3: #47172D,
orange-l1: #FF9462,
orange-l2: #FFC2A5,
orange-l3: #FFE0D2,
orange-d1: #B24715,
orange-d2: #7F330F,
orange-d3: #4C1E09,
purple-l1: #B576D0,
purple-l2: #D5B1E4,
purple-l3: #EAD8F1,
purple-d1: #682983,
purple-d2: #4A1D5E,
purple-d3: #2C1138,
not-gray-l1: #8CA5B5,
not-gray-l2: #BDCBD4,
not-gray-l3: #DEE5E9,
not-gray-d1: #3F5868,
not-gray-d2: #2D3F4A,
not-gray-d3: #1B252C,
gray-l1: #919192,
gray-l2: #C0C0C0,
gray-l3: #DFDFDF,
gray-d1: #444445,
gray-d2: #303031,
gray-d3: #1D1D1D,
black-l1: #6e6e6f,
black-l2: #acacac,
black-l3: #d5d5d5,
white-d1: #B2B2B2,
white-d2: #7F7F7F,
white-d3: #4C4C4C);

//List of light colors

$lightColors: (white: #ffffff,
blue-l1: #4DC2E9,
blue-l2: #99DCF2,
blue-l3: #CCEDF8,
red-l1: #FA7B75,
red-l2: #FCB3B0,
red-l3: #FDD9D7,
green-l1: #63CB9D,
green-l2: #A5E1C7,
green-l3: #D2F0E3,
navy-l1: #4D6888,
navy-l2: #99A9BB,
navy-l3: #CCD4DD,
yellow-l1: #FBE576,
yellow-l2: #FDF0B1,
yellow-l3: #FEF7D8,
mint-l1: #A2EAD2,
mint-l2: #C9F3E5,
mint-l3: #E4F9F2,
pink-l1: #F04E98,
pink-l2: #F9B8D5,
pink-l3: #FCDBEA,
orange-l1: #FF9462,
orange-l2: #FFC2A5,
orange-l3: #FFE0D2,
purple-l1: #B576D0,
purple-l2: #D5B1E4,
purple-l3: #EAD8F1,
not-gray-l1: #8CA5B5,
not-gray-l2: #BDCBD4,
not-gray-l3: #DEE5E9,
gray-l1: #919192,
gray-l2: #C0C0C0,
gray-l3: #DFDFDF,
white-d1: #B2B2B2,
white-d2: #7F7F7F,
white-d3: #4C4C4C);

//List of dark colors
$darkColors:(blue: #00A9E0,
red: #F9423A,
green: #20B573,
navy: #002855,
yellow: #fada30,
mint: #7ae1bf,
pink: #f04e98,
orange: #ff671f,
purple: #963cbd,
not-gray: #5b7f95,
gray: #626263,
black: #303031,
blue-d1: #00759C,
blue-d2: #00546F,
blue-d3: #003242,
red-d1: #AD2E28,
red-d2: #7C201C,
red-d3: #4A1311,
green-d1: #167E50,
green-d2: #0F5A39,
green-d3: #093522,
navy-d1: #001B3B,
navy-d2: #00132A,
navy-d3: #000B19,
yellow-d1: #AE9829,
yellow-d2: #7C6C1D,
yellow-d3: #4A4011,
mint-d1: #559D85,
mint-d2: #3C705F,
mint-d3: #244338,
pink-d1: #A7366A,
pink-d2: #77264B,
pink-d3: #47172D,
orange-d1: #B24715,
orange-d2: #7F330F,
orange-d3: #4C1E09,
purple-d1: #682983,
purple-d2: #4A1D5E,
purple-d3: #2C1138,
not-gray-d1: #3F5868,
not-gray-d2: #2D3F4A,
not-gray-d3: #1B252C,
black-l1: #6e6e6f,
black-l2: #acacac,
black-l3: #d5d5d5,
);
