//Font-sizes

$XXXS: 8px;
$XXS: 10px;
$XS: 12px;
$S: 14px;
$R: 16px;
$L: 18px;
$XL: 20px;
$XXL: 24px;
$XXXL: 30px;

//Font-weights

$bolder: 900;
$bold: 700;
$regular: 400;
$light:300;


//List of all sizes
$sizes: (
  XXXS: 8px,
  XXS: 10px,
  XS: 12px,
  S: 14px,
  R: 16px,
  L: 18px,
  XL: 20px,
  XXL: 24px,
  XXXL: 30px
)